body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: rgb(123, 123, 249);
    

}
.forms {
    display: flex;
    flex-direction: column;
    
  
   

}
.forms form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.forms form input {

    width: 100%;
    height: 2rem;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;

}

.forms button {
   width: 100%;
    padding: 12px;
    background-color: #2563eb;   /* prijatna plava */
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.prijava {
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(44, 11, 229);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 40px 65px rgba(0, 0, 0, 0.1) ;
    background-color: white;
}

h2 {
    font-family: 'Manrope';
}

p { font-family: 'Manrope';}
input::placeholder{
    font-family: 'Manrope';
    font-weight: 100;
}

.prijava a {
    font-family: 'Manrope';
    text-decoration: None;
    color: white;
    padding: 5px;
    background-color: #2563eb;
    border-radius: 5px;
    border-color: #2563eb;
}